<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <log4net>
    <appender name="TwitterAppender" type="russellchadwick.Appenders.TwitterAppender, russellchadwick.Appenders">
      <layout type="log4net.Layout.PatternLayout" value="%date %-5level %logger - %message%newline" />
      <consumerKey value="grinAevpfvoTTc9BtSrWg"/>
      <consumerSecret value="clYKxhxEdVS3N2gI5P0Vy0Ud3sym1dIz6inieash87Y"/>
      <accessToken value="24971840-n8flDhYYEJictiZXX3NUN4fZT07aHTERVGdDDDIYU"/>
      <accessTokenSecret value="yCydTrizUF0dmEOugD8WnmDsAATU2gzFHoIiuMPMOAA"/>
      <hashTag value="segfault" />
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="TwitterAppender" />
    </root>
  </log4net>

  <specFlow>
    <unitTestProvider name="xUnit" />
  </specFlow>

  <appSettings>
    <!-- <add key="log4net.Internal.Debug" value="true"/> -->
  </appSettings>

</configuration>